html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.menu div a{
    padding: 6px 10px;
    border-radius: 6px;
}

.menu div a:hover{
    background-color: hsl(0, 0%, 91%);
}

.menubar >div >div >a:hover{
    color: white
}